@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

.header-container {
	height: 100px;
    width: 100%;
	line-height: 100px;
	display: flex;
    flex-direction: row;
	color: black;
	background-color: white;
	font-family: 'Poiret One', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 15px;
	letter-spacing: 1px;
	position: fixed;
	padding-left: 20px;
	justify-content: space-between;
}
.menu-container {
	display: flex;
	margin-right: 30px;
}
a {
	padding: 10px;
	text-decoration: none;
	color: black;
}
.image {
	height: 510px;
	background-image: url(../img/image.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	background-position: center;
}
.section-one{
	width: 700px;
	height: 70px;
    display: block;
    margin: 60px auto 90px;
    color: black;
	font-family: 'Poiret One', sans-serif;
	font-size: 20px;
	text-align: justify;
}
.section-two {
	display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Poiret One', sans-serif;
	font-size: 20px;
}
.item-one{
	width: 240px;
	margin: 0px 25px 60px;
	padding: 20px;
	background-color: white;
	border: 1px solid black;
}
.image-one {
	height: 220px;
	width: 240px;
	background-image: url(../img/image1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.item-two{
	width: 240px;
	margin: 0px 25px 60px;
	padding: 20px;
	border: 1px solid black;
}
.image-two {
	height: 220px;
	width: 240px;
	background-image: url(../img/image2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.item-three{
	width: 240px;
	margin: 0px 25px 60px;
	padding: 20px;
	border: 1px solid black;
}
.image-three {
	height: 220px;
	width: 240px;
	background-image: url(../img/image3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
.section-three {
	width: 950px;
	margin: 0px auto 150px;
    padding: 20px;
    display: inline-block;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-end;
    /*border: 1px solid yellow;*/
}
.image-writer {
	width: 1000px;
	height: 70px;
	padding: 40px 20px;
	background-image: url(../img/image4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.quote-text{
	font-family: 'Poiret One', sans-serif;
	font-size: 18px;
	padding-left: 40px;
	text-align: justify;
	letter-spacing: .5px;
	line-height: 19px;
	color: black;
}
.footer {
	height: 100px;
	width: 100%;
	color: black;
	background-color: white;
	font-family: 'Poiret One', sans-serif;
	font-size: 10px;
	font-weight: bolder;
	text-transform: uppercase;
	line-height: 100px;
	display: block;
	position: fixed;
	bottom: 0px;
	padding-left: 10px;
}