@font-face {
	src: url(../font/TTTravels-Light.otf);
	font-family: 'TTTravels-Light';
}

.heading h1 {
	font-size: 30px;
	font-style: normal;
	font-family: 'TTTravels-Light';	
}

.paragraph p {
font-family: 'TTTravels-Light';}

.paragraphTwo p {
font-family: 'TTTravels-Light';
}