@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
header {
	width: 100%;
	height: 8vh;
	line-height: 8vh;
	display: flex;
	justify-content: space-between;
	padding-left: 3vw;
	border: 1px solid black;
	color: black;
	align-items: center;
	font-size: 1.5rem;
	text-transform: uppercase;
}
.menu-container, p, li {
	display: flex;
	padding-right: 3vw;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: black;
}
.content-container {
	width: 80%;
	height: 7vh;
	font-size: 2.5rem;
	line-height: 2.5rem;
	display: block;
	margin: 6vh auto 3vh;
	background-color: yellow;
	justify-content: center;
	display: flex; 
	align-items: center;
	box-sizing: border-box;
}
form {
	margin:5vh auto;
}
.personal {
	margin-bottom: -4vh;
}
input {
	height: 5vh;
	width: 80%;
	margin: auto;
	display: block;
	border: 1px solid black;
	color: black;
	font-size: 2em;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

button[type="submit"] {
	width: 80%;
	height: 7vh;
	font-size: 1.5rem;
	display: block;
	margin: 2vh auto 6vh;
	background-color: black;
	border: 1px solid black;
	color: white;
	/*font-weight: bolder;*/
}
textarea {
	height: 10vh;
	width: 80%;
	margin: auto;
	display: block;
	border: 1px solid black;
	color: black;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 2rem;
}

label {
	margin-left: 4vw;
	line-height: 2rem;
	margin-left: 4vw;
}

span {
	display: inline;
	padding-left: 1vw;
	padding-top: 7vh;
	text-decoration: underline;
	font-size: 1rem;
}

input[type="checkbox"] {
	display: inline-block;
	width: 4%;
	vertical-align: middle;
	margin-left: 4vw;
}

.footer-container {
	width: 100%;
	height: 8vh;
	line-height: 8vh;
	display: flex;
	display: inline-block;
	justify-content: space-between;
	padding-left: 3vw;
	border: 1px solid black;
	color: black;
	align-items: center;
	font-size: 1rem;
	position: fixed;
	bottom: 0;
}


@media screen and (min-width: 1040px) {

input, textarea {
	font-size: 1.2rem;
}
form {
	width: 40%;
}
.content-container {
	font-size: 2rem;
	line-height: 2rem;
	margin: 3vh auto 3vh;
}
button[type="submit"] {
	margin: 1.5vh auto 4vh;
}
span {
	font-size: .8rem;
}
}

@media screen and (max-width: 1024px) {

label {
	font-size: 2.5rem;
	line-height: 5rem;
	margin-left: 10vw;
} 
span {
	font-size: 1.7rem;
	line-height: 2rem;
	margin-left: 1vw;
}
input {
	font-size: 3rem;
}
textarea {
	font-size: 3rem;
}
input[type="checkbox"] {
	width: 6%;
	margin-left: 10vw;
}
button[type="submit"] {
	font-size: 2.5rem;
}

header {
	font-size: 2.5rem;
}
.footer-container {
	font-size: 2rem;
}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {

input {
	height: 8vh;
	font-size: 1.5rem;
}
textarea {
	height: 15vh;
	font-size: 1.5rem;
	margin-bottom: 2vh;
}
label, span {
	font-size: 1.4rem;
	line-height: 2.5rem;
} 
input[type="checkbox"] {
	width: 5%;
}
button[type="submit"] {
	height: 10vh;
	margin: 4vh auto 4vh;
}
header {
	font-size: 2rem;
	height: 10vh;
	line-height: 10vh;
}
.footer-container {
	font-size: 1.5rem;
	height: 10vh;
	line-height: 10vh;
	position: static;
}
}



