@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

header {
	width: 100%;
	height: 8vh;
	line-height: 8vh;
	display: flex;
	justify-content: space-between;
	padding-left: 3vw;
	border: 1px solid black;
	color: black;
	align-items: center;
	font-size: 1.5rem;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.menu-container, p, li {
	display: flex;
	padding-right: 3vw;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: black;
}
.content-container {
	width: 80%;
	height: 7vh;
	font-family: Montserrat, sans-serif;
	font-size: 2.5rem;
	line-height: 2.5rem;
	display: block;
	margin: 6vh auto 3vh;
	background-color: yellow;
	justify-content: center;
	display: flex; 
	align-items: center;
	box-sizing: border-box;
}
form {
	width: 70%;
	margin: 50px auto;
}
input {
	height: 5vh;
	width: 100%;
	display: block;
	border: 1px solid black;
	color: black;
	font-size: 2.5rem;
	padding-left: 0.5rem;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

button[type="submit"] {
	width: 100%;
	height: 7vh;
	font-size: 1.5rem;
	display: block;
	margin: 2vh auto;
	background-color: black;
	border: 1px solid black;
	color: white;
	font-weight: bolder;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
textarea {
	height: 10vh;
	width: 100%;
	border: 1px solid black;
	color: black;
	font-size: 2.5rem;
	padding-left: 0.5rem;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
label {
	line-height: 2rem;
	font-family: Montserrat, Arial, Helvetica, sans-serif;

}
span {
	display: inline;
	padding-left: 1vw;
	padding-top: 3vh;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 0.9rem;
	line-height: 1rem;
}

input[type="checkbox"] {
	display: inline-block;
	width: 4%;
	vertical-align: middle;
	line-height: 2.5rem;
}

.footer-container {
	width: 100%;
	height: 8vh;
	line-height: 8vh;
	display: flex;
	display: inline-block;
	justify-content: space-between;
	padding-left: 3vw;
	border: 1px solid black;
	color: black;
	align-items: center;
	font-size: 1rem;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	/*position: fixed;
	bottom: 0;*/
}


@media screen and (min-width: 1040px) {

input, textarea {
	font-size: 1.2rem;
}
form {
	width: 40%;
}
.content-container {
	font-size: 2rem;
	line-height: 2rem;
	margin: 3vh auto 3vh;
}
button[type="submit"] {
	margin: 1vh auto;
}
}

@media screen and (max-width: 1024px) {

label {
	font-size: 2.5rem;
	line-height: 5rem;
} 
span {
	font-size: 1.7rem;
	line-height: 1.7rem;
}
input[type="checkbox"] {
	width: 8%;
}
button[type="submit"] {
	font-size: 2.5rem;
}

header {
	font-size: 2.5rem;
}
.footer-container {
	font-size: 2rem;
}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {

input {
	height: 8vh;
	font-size: 1.5rem;
}
textarea {
	height: 15vh;
	font-size: 1.5rem;
}
label, span {
	font-size: 1.4rem;
	line-height: 2.5rem;
} 
input[type="checkbox"] {
	width: 5%;
}
button[type="submit"] {
	height: 10vh;
	margin: 3vh auto 3vh;
}
header {
	font-size: 2rem;
	height: 10vh;
	line-height: 10vh;
}
.footer-container {
	font-size: 1.5rem;
	height: 10vh;
	line-height: 10vh;
	position: static;
}
}



