@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
html {
	font-family: 'Poiret One', sans-serif;
}
.header-container {
	height: 8vh;
    width: 100vw;
	line-height: 8vh;
	display: flex;
    background-color: transparent;
    color: black;
	/*color:  #000066;*/
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 1px;
	padding-left: 2vw;
	justify-content: space-between;
	/*border: 2px solid #3CB371;*/
	border: 1px solid transparent;
}
.menu {
	font-size: 1.3rem;
}
.menu-container {
	display: flex;
	margin-right: 1vw;
}
li {
	padding-right: 2vw;

}
a {
	text-decoration: none;
	color: black;
	/*color:  #000066;*/
}
.image {
	height: 80vh;
	width: 100%;
	background-image: url(../img/Image11.jpg);
	background-size: cover;
	position: relative;
}
.image-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FF99FF;
	font-size: 165px;
	/*line-height: 164px;*/
}
.main-text {
	width: 80%;
	height: auto;
	font-size: 1.5rem;
	letter-spacing: 1px;
	line-height: 2.1rem;
	color: black;
	text-align: center;
	margin: 12vh auto 14vh;
}
.content-container {
	width: 80vw;
	min-height: 500px;
	margin: 5vh auto 5vh;
	display: flex;
	justify-content: space-between;
}

.column {
	width: calc((100% - 40px)/3);
	}

.text {
	padding: 1vh 0 0 .5vw;
	font-size: 1.4rem;
	line-height: 1.9rem;
	/*font-weight: bolder;*/
}

.image-two {
	background-image: url(../img/image2.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}
.image-one {
	background-image: url(../img/image1.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}
.image-three {
	background-image: url(../img/image3.jpg);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}
h2 {
	padding: 4vh 0 0 .5vw;
	font-size: 1.3rem;
	text-transform: uppercase;
	/*color: #3CB371;*/
	color: black;
}
.third-part {
	width: 60%;
	height: auto;
	background-color: #FF99FF;
	margin: 12vh auto;
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	flex-direction: row;

}
.image-writer {
	width: 20%;
	height: 20vh;
	background-image: url(../img/image55.jpg);
	background-size: cover;
	display: block;
	margin-left: 1.3vw;
	margin-right: .5vw;
	/*margin: 4vh 1.3vw 4vh 2vw;*/

}
.quote-text {
	width: 80%;
	height: auto;
	font-size: 1.5rem;
	letter-spacing: 1px;
	line-height: 2.1rem;
	color: black;
	/*color: #000066;*/
	text-align: left;
	margin-right: .1vw;
	/*margin: 3vh 3vw 3vh 0;*/
	background-color: #FF99FF;
	display: block;
	padding: 2vw 2vh;
	/*font-weight: bolder;*/
	/*border: 1px solid #FF99FF;*/
}
.footer {
	width: 100vw;
	height: 8vh;
	display: block;
	line-height: 8vh;
    padding-left: 3vw;
	letter-spacing: 1px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: black;
	/*color:  #000066;*/
	text-decoration: none;
	/*border: 2px solid #3CB371;*/
	border: 1px solid transparent;
}

.menu-container {
	display: flex;
	padding-right: 3vw;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1040px) {
	h1 {
	font-size: 2rem;
}
	.menu-container {
	margin-right: 0vw;
	font-size: 2rem;
}
	.image-text {
	font-size: 12.9rem;
	/*letter-spacing: 12px;*/
	line-height: 14rem;
	/*font-weight: bolder;*/
	/*color: #3CB371;*/
}
	.main-text {
	font-size: 3.7rem;
	line-height: 5.2rem;
	margin: 10vh auto;
	text-align: left;
}

	.content-container {
	display: block;
	font-size: 2.5rem;
}
	.column {
	width: 100%;
	margin-bottom: 4vh;
}
	h2 {
	font-size: 3rem;
	/*padding: 40px 0 20px 20px;*/

}
	.third-part {
		width: 80%;
		margin: 9vh auto 10vh;
		flex-direction: column;
}
	.image-writer {
	width: 80%;
	height: 35vh;
	margin: 4vh auto 3vh;
}
	.quote-text {
	margin: 0 auto 5vh;
	font-size: 3.7rem;
	line-height: 5.2rem;
}

	.text {
	padding: 2vh 0;
	font-size: 3.3rem;
	line-height: 4rem;
}
	.copyright {
	font-size: 2rem;
}
	.header {
	display: flex;
	justify-content: center;
	padding-left: 0;
	font-size: 2.5rem;
}
	.footer {
	font-size: 3rem;
}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
.header-container, .footer {
	height: 12vh;
	line-height: 12vh;
}
.menu-container {
	margin-right: 0vw;
	font-size: 2rem;
}
.image {
	height: 90vh;
}

.image-text {
	font-size: 11rem;
	/*letter-spacing: 12px;*/
	line-height: 12rem;
	/*font-weight: bolder;*/
	/*color: #3CB371;*/
}
	.main-text {
	font-size: 2.5rem;
	line-height: 3.5rem;
	text-align: left;
}
	h2 {
	font-size: 2rem;
	padding: 5vh 0 0;
}
	.text {
	font-size: 2.3rem;
	line-height: 3.2rem;
	padding: 3vh 0 8vh;
}
.third-part {
	width: 80%;
	margin-bottom: 20vh;
}
	.image-writer {
	width: 90%;
	height: 75vh;
	margin: 8vh 1.6vw 4vh 2vw;
}
	.quote-text {
	width: 90%;
	font-size: 2.5rem;
	line-height: 3.5rem;
	padding-left: 2vw;
}
	.copyright {
	font-size: 2rem;
}
}


