@import url(reset.css);
.item-one {
	width: 80vw;
	height: 20vh;
	border: 5px solid pink;
	margin: 5vh auto;

}
.item-two {
	width: 80vw;
	height: 20vh;
	border: 5px solid pink;
    margin: 5vh auto;
	
}
.item-three {
	width: 80vw;
	height: 20vh;
	border: 5px solid pink;
	margin: 5vh auto;
	
}
.item-four {
	width: 80vw;
	height: 20vh;
	border: 5px solid pink;
	margin: 5vh auto;
	
}
.header {
	width: 100vw;
	height: 10vh;
	display: block;
	color: #F5F5F5;
	text-transform: uppercase;
	font-weight: bolder;
	line-height: 10vh;
	font-family: 'Pattaya', sans-serif;
	letter-spacing: 3px;
    padding-left: 30px;
    font-size: 1.5rem;
	background-color: pink;
}
.blocks {
	display: inline-block;
	justify-content: center;
	margin: 5vh 7vw;


	/*width: calc((100% - 50vh)/4);*/
	/*display: flex;
	display: inline-block;
	align-items: center;
	position: relative;
	justify-content: center;
	flex-direction:column;
	/*align-items: baseline;*/

	}
.footer {
	width: 100vw;
	height: 10vh;
	display: block;
	line-height: 10vh;
    padding-left: 30px;
	font-family: 'Pattaya', sans-serif;
	letter-spacing: 3px;
	font-size: 1.3rem;
	color: #F5F5F5;
	text-decoration: none;
	background-color: pink;
	position: fixed;
	bottom: 0px;
}



@media screen and (min-width: 667px) {

.item-one {background-color: yellow;
	width: 40vw;
	float:left;
	/*margin: 5vh 0vw 0vh 2.5vw;*/
	/*flex-direction: column;*/
	/*flex-wrap: wrap;
	display: inline-block;
	flex-direction:row;*/
}
}
@media screen and (min-width: 667px) {
.item-two {background-color: yellow;
	width: 40vw;
	float:right;
	/*margin: 5vh 2.5vw 0vh 0vw;*/

	}
}
@media screen and (min-width: 667px) {
.item-three {background-color: yellow;
	width: 40vw;
	float:left;
	/*margin: 5vh 0vw 5vh 2.5vw;*/
	}
}
@media screen and (min-width: 667px) {
.item-four {background-color: yellow;
	width: 40vw;
	float:right;
	/*margin: 5vh 2.5vw 5vh 0vw;*/
	
	}
}
